.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  margin: auto;
  align-items: center;
  .inputContainer {
    display: block;

    * {
      color: #fff;
      text-align: right;
    }

    .input {
      font-size: 1.2rem;
      width: 100%;
      border-radius: 0.2em;
      margin-block: 1rem;
      padding: 0.5em 0.25em;
    }
  }
  .button {
    border: none;
    margin-inline: 20%;
    margin-block: 2rem;
    padding: 1em 2em;
    border-radius: 0.5em;
    font-size: 1.2rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background-color: #48cae4;
    min-width: 60%;
    cursor: pointer;
  }
  .button:hover {
    box-shadow: 0 0 1rem #90e0ef;
  }
  .link {
    color: #fff;
    text-decoration: none;
  }
  .link:hover {
    text-decoration: underline;
  }
}

@media (min-width: 450px) {
  .input {
    min-width: 30vw;
  }
}
