.wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ul {
    padding: 0;
  }

  a {
    text-decoration: none;

    color: #caf0f8;
  }
  a:hover {
    text-decoration: underline;
    color: #fff;
  }
}

@media (min-width: 1000px) {
  .wraper {
    padding: 3rem;
    margin: 10% 15%;
  }
  a {
    font-size: 1.2rem;
  }
}
