@mixin max-width($width: 0) {
  max-width: $width;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  width: fit-content;

  background-color: #0096c7;
  margin-block: 0.5rem;
  transition: all 1s ease;

  * {
    display: flex;
    justify-content: center;
  }
  a {
    text-decoration: none;
    color: #fff;
    .img {
      aspect-ratio: 16/9;
      @include max-width(70%);
    }
  }

  .button {
    background-color: #caf0f8;
    @include max-width(60%);
    min-height: 40%;
    border-radius: 1em;
    padding: 1em 2em;
    margin-inline: 30%;
    text-transform: uppercase;
    font-size: large;
  }
  .button:hover {
    transform: translateY(-5%);
    cursor: pointer;
  }
  .itemInfo {
    align-self: baseline;
  }
}
.isVisible {
  opacity: 1;
  transform: translateX(0%);
}
.isHidden {
  opacity: 0;
  transform: translateX(-100%);
}
